<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="canonical" href="http://www.bootstraptoggle.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bootstrap-toggle-master/css/bootstrap-toggle.css" rel="stylesheet">
    <link href="bootstrap-toggle-master/doc/stylesheet.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <title> Güneş Kuyumculuk Doviz Uygulaması {% block title %}{% endblock %}</title>
</head>


<div class="container" id="moneyshown">
    <table class="table" border="2px solid black" rules="rows" width="100px">
        <thead>
        <tr>
            <th scope="col">Para Birimi</th>
            <th scope="col">Satış</th>
            <th scope="col">Alış</th>
            <th scope="col">2020-05-28 11:30:56</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="block">1</td>
            <td class="block">3</td>
            <td class="block">2</td>
        </tr>

        </tbody>
    </table>
</div>

<style>

</style>